sr_edc_controller_configuration/.cproject
sr_edc_controller_configuration/.project
sr_edc_controller_configuration/.pydevproject
sr_edc_controller_configuration/build/
sr_edc_controller_configuration/cmake_install.cmake
sr_edc_ethercat_drivers/.cproject
sr_edc_ethercat_drivers/.project
sr_edc_ethercat_drivers/.pydevproject
sr_edc_ethercat_drivers/bin/examples/send_targets
sr_edc_ethercat_drivers/bin/test_clock
sr_edc_ethercat_drivers/build/
sr_edc_ethercat_drivers/cmake_install.cmake
sr_edc_ethercat_drivers/lib/
sr_edc_ethercat_drivers/msg_gen/
sr_edc_ethercat_drivers/src/sr_edc_ethercat_drivers/
sr_edc_launch/.cproject
sr_edc_launch/.project
sr_edc_launch/.pydevproject
sr_edc_launch/build/
sr_edc_launch/cmake_install.cmake
sr_external_dependencies/.cproject
sr_external_dependencies/.project
sr_external_dependencies/.pydevproject
sr_external_dependencies/build/
sr_external_dependencies/cmake_install.cmake
sr_robot_lib/bin/test/motor_updater_test
sr_robot_lib/bin/test/test_robot_lib
sr_robot_lib/.cproject
sr_robot_lib/.project
sr_robot_lib/.pydevproject
sr_robot_lib/_gtest_from_src/
sr_robot_lib/build/
sr_robot_lib/cmake_install.cmake
sr_robot_lib/lib/
*.pyc

# PyCharm project
.idea
