<launch>
  <!-- prefix for the spawner node and the controller (might be different from joint_name prefix) -->
  <arg name="hand_id" default=""/>

  <!-- load configuration -->
  <group if="$(optenv BIOTAC_HAND 0)">
      <rosparam command="load" file="$(find sr_ethercat_hand_config)/controls/tactiles/$(arg hand_id)/sr_biotac_tactile_sensor_controller.yaml" />

      <!-- spawn controller -->
      <node name="sr_$(arg hand_id)_tactile_sensor_controller_spawner" pkg="controller_manager" type="spawner" output="screen" args="--shutdown-timeout=1 sr_$(arg hand_id)_biotac_tactile_sensor_controller" />
  </group> <!-- BIOTACS -->

  <group unless="$(optenv BIOTAC_HAND 0)">
    <group if="$(optenv UBI_HAND 0)">
      <rosparam command="load" file="$(find sr_ethercat_hand_config)/controls/tactiles/$(arg hand_id)/sr_ubi_tactile_sensor_controller.yaml" />

      <!-- spawn controller -->
      <node name="sr_$(arg hand_id)_tactile_sensor_controller_spawner" pkg="controller_manager" type="spawner" output="screen" args="--shutdown-timeout=1 sr_$(arg hand_id)_ubi_tactile_sensor_controller" />
    </group> <!-- UBI -->

    <group unless="$(optenv UBI_HAND 0)">
      <rosparam command="load" file="$(find sr_ethercat_hand_config)/controls/tactiles/$(arg hand_id)/sr_pst_tactile_sensor_controller.yaml" />

      <!-- spawn controller -->
      <node name="sr_$(arg hand_id)_tactile_sensor_controller_spawner" pkg="controller_manager" type="spawner" output="screen" args="--shutdown-timeout=1 sr_$(arg hand_id)_pst_tactile_sensor_controller" />
    </group> <!-- PSTS -->
  </group>
</launch>
