<launch>
  <group if="$(optenv SHADOW_ROS_CONFIG_INSTALLED 0)">
    <!-- <rosparam command="load" ns="srh" file="$(env SHADOW_ROS_CONFIG_PATH)/ethercat_hand/controls/motors/motor_board_effort_controllers_stopped.yaml" />  -->
    <!-- <rosparam command="load" ns="srh" file="$(env SHADOW_ROS_CONFIG_PATH)/ethercat_hand/controls/motors/motor_board_effort_controllers_ff_and_th.yaml" /> -->
    <rosparam command="load" ns="srh" file="$(env SHADOW_ROS_CONFIG_PATH)/ethercat_hand/controls/motors/motor_board_effort_controllers.yaml" />

    <rosparam command="load" ns="srh" file="$(env SHADOW_ROS_CONFIG_PATH)/ethercat_hand/controls/friction_compensation.yaml" />
    <rosparam command="load" ns="srh" file="$(env SHADOW_ROS_CONFIG_PATH)/ethercat_hand/controls/host/sr_edc_effort_controllers.yaml" />
    <rosparam command="load" ns="srh" file="$(env SHADOW_ROS_CONFIG_PATH)/ethercat_hand/controls/host/sr_edc_joint_position_controllers.yaml" />
    <!-- <rosparam command="load" ns="srh" file="$(env SHADOW_ROS_CONFIG_PATH)/ethercat_hand/controls/host/sr_edc_joint_position_controllers_PWM.yaml" /> -->
    <rosparam command="load" ns="srh" file="$(env SHADOW_ROS_CONFIG_PATH)/ethercat_hand/controls/host/sr_edc_mixed_position_velocity_joint_controllers.yaml" />
    <rosparam command="load" ns="srh" file="$(env SHADOW_ROS_CONFIG_PATH)/ethercat_hand/controls/host/sr_edc_joint_velocity_controllers.yaml" />
  </group>
  <group unless="$(optenv SHADOW_ROS_CONFIG_INSTALLED 0)">
    <!-- <rosparam command="load" ns="srh" file="$(find sr_ethercat_hand_config)/controls/motors/motor_board_effort_controllers_stopped.yaml" />  -->
    <!-- <rosparam command="load" ns="srh" file="$(find sr_ethercat_hand_config)/controls/motors/motor_board_effort_controllers_ff_and_th.yaml" /> -->
    <rosparam command="load" ns="srh" file="$(find sr_ethercat_hand_config)/controls/motors/motor_board_effort_controllers.yaml" />

    <rosparam command="load" ns="srh" file="$(find sr_ethercat_hand_config)/controls/friction_compensation.yaml" />
    <rosparam command="load" ns="srh" file="$(find sr_ethercat_hand_config)/controls/host/sr_edc_effort_controllers.yaml" />
    <rosparam command="load" ns="srh" file="$(find sr_ethercat_hand_config)/controls/host/sr_edc_joint_position_controllers.yaml" />
    <!-- <rosparam command="load" ns="srh" file="$(find sr_ethercat_hand_config)/controls/host/sr_edc_joint_position_controllers_PWM.yaml" /> -->
    <rosparam command="load" ns="srh" file="$(find sr_ethercat_hand_config)/controls/host/sr_edc_mixed_position_velocity_joint_controllers.yaml" />
    <rosparam command="load" ns="srh" file="$(find sr_ethercat_hand_config)/controls/host/sr_edc_joint_velocity_controllers.yaml" />
  </group>
</launch>
